* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #101010;
  font-family: sans-serif;
}

.page-grid {
  display: grid;
  grid-template-rows: 80px calc(100vh - 80px);
}

.page-header {
  display: flex;
  justify-content: space-between;

  padding: 2vh 2vw;
}

/* -------------------- UNIT TOGGLE -------------------- */

.unit-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.toggleUnit {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: #676767;
  position: relative;
  cursor: pointer;
}

.toggleUnit::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.unit-selector input {
  display: none;
}

.unit-selector input:checked + .toggleUnit {
  background-color: #696969;
}

.unit-selector input:checked + .toggleUnit::before {
  left: 32px;
}

.unit-selector p {
  margin-top: 5px;
  font-size: 2.4rem;
  color: #9b9b9b;
  transition: 0.4s;
}

.unit-selector p.selected {
  color: #eee;
}

/* -------------------- INPUT STYLING -------------------- */
.input-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #222;

  padding: 0 0.5vw 0 0;
  border-radius: 15px;

}
#cityInput {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.8rem;
  color: #ccc;
  padding: 10px 0.5vw;

}

#search-button {
  background-color: transparent;
  padding: 5px;
  outline: none;
  border: none;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

#search-button:hover, #search-button:active{
  background-color: #333;
}